


.about 
  padding-bottom: 105px

  &-title 
    color: $new-black
    font-family: Ubuntu, san-serif
    font-size: 28px
    font-weight: bold
    text-align: left
    &_right 
      margin-bottom: 50px


  &-subtitle 
    color: $new-black
    font-family: Ubuntu, san-serif
    font-size: 18px
    font-weight: bold
    text-align: left
    margin-top: 28px

  &-logos 
    margin-top: 27px
    display: flex 
    flex-direction: row 
    justify-content: space-between
    &__half
      text-align: center
      &-img 
        margin-bottom: 34px
        img 
          filter: grayscale(100%)

    
    

  &-descr 
    margin-top: 37px
    
    p 
      margin-bottom: 26px
      color: $text-black
      font-family: Montserrat, san-serif
      font-size: 14px
      text-align: left
      line-height: 32px


    