


.about 
  padding-bottom: 105px

  &-title 
    color: $new-black
    font-family: Ubuntu, san-serif
    font-size: 28px
    font-weight: bold
    text-align: left
    &_right 
      margin-bottom: 50px


  &-subtitle 
    color: $new-black
    font-family: Ubuntu, san-serif
    font-size: 18px
    font-weight: bold
    text-align: left
    margin-top: 28px

  &-logos 
    margin-top: 95px
    display: flex 
    flex-direction: row 
    justify-content: space-between
    height: 63%
    &__half
      text-align: center
      display: flex
      flex-direction: column
      justify-content: space-between
      align-content: space-between
      align-items: center
      &-img 
        //margin-bottom: 34px
        img 
          filter: grayscale(100%)
          &:hover
            webkit-filter: grayscale(0%)
            filter: grayscale(0%)
            transition: .5s ease

    
    

  &-descr 
    margin-top: 37px
    
    p 
      margin-bottom: 26px
      color: $text-black
      font-family: Montserrat, san-serif
      font-size: 14px
      text-align: left
      line-height: 32px


    