

.footer 
  background-color: $gray
  background: url(../img/gr-bg.jpg) center no-repeat
  background-size: cover
  padding: 90px 0px 40px 0px


  &-logo 
    img 
      width: 100%
      max-width: 400px

  &-descr
    margin-top: 80px
    display: flex
    flex-direction: row
    justify-content: flex-start
    max-width: 400px

    &__img 
      margin-right: 18px
      img 
        width: 21px
        //margin-right: 19px


    &__text
      color: $white
      font-family: Ubuntu, san-serif
      font-size: 18px 
      

  &-socials
    display: flex 
    flex-direction: row 
    justify-content: flex-end

    &__item
      margin-left: 20px
      width: 41px
      height: 41px
      background: $white 
      border-radius: 50%
      position: relative
      img 
        position: absolute
        top: 10px
        left: 10px 
        width: 21px
        height: 21px

  &-info 
    margin-top: 45px
    text-align: right
    

    .phone
      a
        font-family: Ubuntu, san-serif
        font-size: 20px 
        font-weight: bold
        color: $white
    .email
      a
        font-family: Ubuntu, san-serif
        font-size: 18px 
        
        color: $white
        text-decoration: underline
    .phone, .email
      margin-bottom: 25px
      display: flex 
      flex-direction: row
      justify-content: flex-end
      &-icon 
        margin-right: 16px
        img
          width: 18px
          height: 18px
      &-text 
        a 

  hr 
    border-color: #c1c1c1
    height: 1px
    margin-top: 65px
    margin-bottom: 40px
  
  &-copy, &-rekv, &-policy 
    color: #AAAAAA
    font-family: Ubuntu, san-serif
    font-size: 14px
    
    text-transform: uppercase
    a 
      color: #AAAAAA
      font-family: Ubuntu, san-serif
      font-size: 14px
      
      text-transform: uppercase

  
  &-copy 
    margin-right: 52px
    
  
  &-rekv
    text-decoration: underline
    
  
  &-policy
    text-decoration: underline
    



