@media(min-width: 768px)
  
    
  button.button.button_filled:hover 
    cursor: pointer
    background-color: #3b4e87
    transition: .5s ease

  .services-item__descr 
    a:hover 
      text-decoration: underline
      transition: .5s ease

  .header-logo
    &:hover
      text-decoration: none
      //transition: .5s ease
    &_text:hover 
      text-decoration: none
      //transition: .5s ease

  .header-address:hover 
    text-decoration: none
    color: $white
    transition: .5s ease

  
      



    