@media(min-width: 768px)
  
    
  button.button.button_filled:hover 
    cursor: pointer
    background-color: #3b4e87
    transition: all .3s

  .services-item__descr 
    a:hover 
      text-decoration: underline
      transition: all .3s

  .header-logo
    &:hover
      text-decoration: none
    &_text:hover 
      text-decoration: none

  .header-address:hover 
    text-decoration: none
    color: $white

  .slider-arrow__right, .slider-arrow__left
    &:hover 
      cursor: pointer
      transition: all .3s

  .slider-arrow__right
    &:hover
      background: url(../img/main/slider-arrow-right-hover.png) center no-repeat    

  .slider-arrow__left
    &:hover
      background: url(../img/main/slider-arrow-left-hover.png) center no-repeat

  .group-subtitle_phone:hover 
    text-decoration: underline
    transition: all .3s

  .order-form__politics:hover, .order .form__politics:hover 
    cursor: pointer
    color: $indigo
    text-decoration: underline
  
  .reviews-slider__info_subtitle:hover
    color: #f0f0f0

  .reviews-slider__item1 .slider-url:hover, .reviews-slider__item2 .slider-url:hover
    color: #f0f0f0

  a.form-politics:hover
    color: $white

  .order-form a.form-politics:hover
    cursor: pointer
    color: $indigo
    text-decoration: underline


    