
*, body 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: 'Montserrat-Regular', san-serif
  //

button.button, a.button
  color: $btn-o
  font-family: Ubuntu, san-serif
  font-size: 10px
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 2px
  border: 1px solid $blue
  border-radius: 2px
  outline: none
  padding: 27px 10px
  background: transparent
  span 
    color: $blue
    margin-top: 2px
    display: block


  &.button_filled 
    background-color: $blue
    color: $white
    border: none
    

    

  

input
  outline: none
  


.section
  &-title
    color: $white
    font-family: Ubuntu, san-serif
    font-size: 50px
    font-weight: bold
    line-height: 50px
    text-align: left
    &__wrapper
      display: flex 
      flex-direction: row 
      justify-content: space-between
      align-content: center
      align-items: center
      flex-wrap: wrap

    
    &_left 
    &_black
      color: $new-black
    span 
      &.blue
        color: $blue
        font-weight: bold
        font-size: 50px
        

      &.slush
        font-size: 35px
        color: $blue
        margin-left: 15px


  &-subtitle 
    color: $text-black
    font-family: Ubuntu, san-serif
    font-size: 14px
    font-weight: bold
    text-align: left
    

    &__wrapper
      display: flex 
      flex-direction: row 
      justify-content: space-between
      align-content: center
      align-items: center
      .caption 
        color: #4F4F57
        font-size: 54px
        font-family: Ubuntu, san-serif
        font-weight: bold
        margin-right: 23px


@keyframes pulse 
  from 
    transform: scale(.80)
  50% 
    transform: scale(1)
  to 
    transform: scale(.80)
  
 
      


.header
  background-color: $white
  padding: 24px 0
  &-left, &-right, &-logo,  &-phone
    display: flex 
    flex-direction: row


  &-logo
    width: 100%
    img 
      width: 100%
      padding-top: 5px

  &-menu 
    padding-top: 15px
    ul 
      display: flex
      flex-direction: row
      justify-content: center

      li 
        list-style-type: none
        margin-right: 36px
        a 
          color: #000000
          font-family: Montserrat, san-serif //Montserrat-Regular,AdobeInvisFont,MyriadPro-Regular
          font-size: 14px



  &-phone 
    width: 100%
    display: flex
    justify-content: flex-end
    justify-self: right
    align-items: center

    &__icon
      // position: absolute
      // top: 3px
      // left: 3px
      // margin-left: -7px
      // margin-top: -7px
      width: 100%
      height: 100%
      
      //background: url(../img/head/phone.png) center no-repeat
      img 
        padding: 4px


      &-wrapper
        border-radius: 50%
        width: 53px
        height: 53px
        position: relative
        border: 1px solid #dddddd
        background-color: $white
        transform: scale(.80)
        animation: pulse 4s ease-in-out infinite

    &__text 
      display: flex 
      flex-direction: column
      align-items: flex-end
      margin-left: 17px
      
      a.header-phone__text-title
        color:#565DA4
        font-family: Ubuntu, sans-serif
        font-weight: 700
        font-size: 20px
        
        &:hover 
          text-decoration: none
          //color: #636ab1 #6f7ac7
          color: #6f7ac7 //#3e4bcc
          transition: .5s ease
      
      &-title 
        font-size: 18px
      &-subtitle 
        font-size: 12px
        //justify-self: right



  &-right


// .slick 
//   &-list.draggable
//     padding: 0 50px 0px 0px !important

//   &-slider 
    
//   &-slide 
//     padding: 20px 0px
//   &-active 
//     padding: 0px 0px
//     max-width: 600px
//     &.slider



  


.slider-arrow__right, .slider-arrow__left
  

.slider-arrow__right
 

.slider-arrow__left
  
.form
  
  &-fieldset
  &-input
   
  &-label 
    
    &.active
     
    

  button
   
  &-politics
    

  //::-webkit-input-placeholder 
   

  //:-moz-placeholder  /* Firefox 18- */
   

  //::-moz-placeholder   /* Firefox 19+ */
    
  //:-ms-input-placeholder   
    

.modal
  
  &-body
    

  &-content 
    
  &-close 
    

  .form 
    
  .window-success 
    

  .fail 
    

    &.active 
      

    
