

.logos
  padding: 200px 0px 200px 0px
 
  
  &-title 
    

  &-subtitle 
    
  

  &-item 
    width: 19.5%
    margin-bottom: 35px
    display: inline-block 
    img 
      filter: grayscale(100%)
      width: 100%
      padding: 0px 28px
    &s 
      margin-top: 100px



    &:last-child, &:first-child  
      img 
        

    &:nth-child(7)
      padding: 0px 35px 0px 30px

    &:nth-child(9)
      padding: 0px 15px 0px 10px
    
  