

.main 
  background-color: $gray
  background: url(../img/1/main-bg.jpeg) center no-repeat

  padding: 132px 0px 262px 0px
  color: $white
  position: relative
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(-3px 600px, 100% 100%, 100% -3px, 0px 0px)



  
  &-title 
    color: $white
    font-family: Ubuntu, san-serif
    font-weight: bold
    font-size: 38px
    text-align: left
    max-width: 700px
    margin-bottom: 0

  &-subtitle 
    font-family: Montserrat-Regular, san-serif
    font-size: 18px
    text-align: left
  

  &-descr 
    display: flex 
    flex-direction: row 
    align-content: center
    padding-top: 21px
    &__txt
      font-size: 16px
      margin-top: 3px
      
  .button 
    margin-top: 42px  

  


