

.main 
  background-color: $gray
  background: url(../img/main/mbg.jpg) center no-repeat
  background-size: cover

  padding: 176px 0px 300px 0px
  color: $white
  position: relative
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(-3px 720px, 100% 100%, 100% -3px, 0px 0px)



  
  &-title 
    color: $white
    font-family: Ubuntu, san-serif
    font-weight: bold
    font-size: 38px
    text-align: left
    max-width: 700px
    margin-bottom: 0

  &-subtitle 
    font-family: Montserrat, san-serif
    font-size: 18px
    line-height: 26px
    text-align: left
    margin-bottom: 0
  

  &-descr 
  
    padding-top: 30px

  &-caption 
    font-family: Montserrat, san-serif
    font-size: 15px
    line-height: 22px
    text-align: left
    margin-left: 30px
    display: inline-block
    max-width: 175px
    vertical-align: middle

    
      
      
  .button 
    margin-top: 56px 
    display: inline-block
    padding-left: 40px
    padding-right: 40px
     

  


