@media(max-width: 1599px)
  // .services-slider 
  //   width: 125%

  // .services-slider__item 
  //   margin: 0 10px

  .team-slider
    //min-width: 123%

    //max-width: 1300px
    min-width: 1300px

  .team-slider__item 

    margin: 0 15px

  .results-slider 
    // width: 133%
    // left: -33%

  .results-slider__info-extras 
    //margin-top: 120px

  .recommends-slider
    min-width: 1300px 
    //min-width: 120%

@media(max-width: 1499px)
  // .services-slider 
  //   width: 120%

  .team-slider
    min-width: 115%

  .results-slider 
    width: 1200px
    //width: 133%
    //left: -33%
    &__item 
      margin: 0 57px 0px 0px



  .recommends-slider 
    min-width: 1200px
    //min-width: 117%

@media(max-width: 1399px)
  // .services-slider 
  //   width: 110%

  .team-slider
    min-width: 107%

  .results-slider 
    //width: 115%
    //left: -15%

  .results-slider__item 

    //margin: 0 10px


  .recommends-slider 
    min-width: 107%



@media(max-width: 1299px)
  // .services-slider 
  //   width: 100%
  //   min-width: 100%
  //   max-width: 100%
  //   &__item
  //     max-width: 570px

  // .services-arrows
  //   width: 500px

  .team-slider
    width: 100%
    min-width: 100%
    max-width: 100%
    left: 0%
    position: relative
    left: unset
    &__wrapper 
      margin-top: 70px

  .team-arrows 
    position: relative
    top: unset
    left: unset
    width: 100%
    height: 3px

  .results-slider 
    width: 100%
    min-width: 100%
    max-width: 100%
    //width: 113%
    //left: -60px

  .results-slider__item 
    //height: 350px

  .results-arrows 
    
    width: 51%

  .recommends-slider
    width: 100%
    min-width: 100%
    max-width: 100%
    left: 0%
    position: relative
    left: unset
    &__wrapper 
      margin-top: 70px

  .recommends-arrows 
    position: relative
    top: unset
    left: unset
    width: 100%
    height: 3px
    margin-top: 30px

  .recommends-slider 
    width: 100%
    min-width: 100%
    max-width: 100%

  

  // .services-arrows 

  //   left: 0px

  .cta-bottom
    margin-top: 0px



  

@media(max-width: 1199px)

  // .services-slider 
  //   //width: 105%


  .header-menu ul li 
    margin-right: 16px
  

  .cta-item__descr-btn 
    margin-top: 40px

  .calculations-title 
    margin-bottom: 20px

  .results
    padding: 132px 0px 
    .slick-list.draggable 
      padding: unset !important
      min-height: unset !important


    &-slider 
      height: 100%
      position: relative
      top: unset
      left: unset
      &__wrapper
        height: 900px

      &__item 
        flex-direction: column !important
        min-height: 900px
        margin: 0 

        .slider-photo 
          width: 100%

        .results-slider__info 
          width: 100%
          margin-top: 20px
          margin-left: 0px
          text-align: center

          &-extras 
            margin-top: 50px !important

    &-arrows 
      width: 100%
      top: 250px

    //width: 100%
    //top: unset
    //left: unset
    //position: relative

  // .results-arrows 
  //   position: relative//absolute
  //   margin-top: 30px
  //   top: unset
  //   left: unset
  //   margin-left: 0
  //   width: 100%
  //   bottom: unset//-40px

  .results-slider__info-extras 
    //margin-top: 40px

  .results .slick-list.draggable 
    //padding: 0 50px 0px 0px !important



  

@media(max-width: 1099px)
  .about 
    padding-top: 0px

  .digits-item 
    width: 49.6%
    margin-bottom: 40px
    padding-left: 0


  // .services-slider 
  //   width: 100%
  //   top: unset
  //   left: unset
  //   position: relative

  // .services-arrows 
  //   position: relative
  //   top: unset
  //   left: unset
  //   margin-top: 40px
  //   margin-left: 10px


  // .services .slick-list.draggable 
  //   padding: 0 50px 0px 0px !important


  
@media(max-width: 991px) 
  section.about 
    padding-top: 0

  .toget-item
    margin-bottom: 40px
    &__descr-text
      margin-top: 15px

    &__icon 
      margin-right: 30px

  .calculations-form 
    margin-top: 53px

  .calculations-form__check
    margin-top: 40px

  .calculations-form__button 
    margin-top: 40px

  .digits-items 
    margin-top: 60px
    padding-left: 0px 

  .team-slider 
    margin-top: 60px
    margin-left: -20px



  .team-slider .slick-list.draggable 
    // height: 540px

  .logos-items 
    margin-top: 50px

  .logos-item 
    width: 49.5%
    img 
      padding: 0px 50px

    &:nth-child(7)
      padding: 0px 55px 0px 50px

    &:nth-child(9)
      padding: 0px 35px 0px 30px

  .recommends-slider 
    margin-top: 60px

  .cta-bottom 
    margin-top: 0px
    
    padding-top: 0 !important

  .cta-bottom .cta-item__text 
    min-height: 100px

  .cta-bottom .cta-btn 
    margin-top: 50px

  .cta-bottom .cta-item__descr 
    justify-content: center

  .cta-bottom .cta-item__text
    text-align: center


  .services
    &-slider
      &__item
        height: 600px
      &__wrapper
        height: 600px

    &-content 
      position: absolute
      top: 45px
      left: 80px
      padding: 60px 52px
      z-index: 10
      max-width: 580px
      background-color: rgba(0, 0, 0, 0.5)

    &-arrows 
      top: 264px
  
    

  .examples
    &-slider
      &__item
        height: 600px
      &__wrapper
        height: 600px

    &-content 
      position: absolute
      top: 65px
      left: 90px
      padding: 60px 52px
      z-index: 10
      max-width: 580px
      background-color: rgba(0, 0, 0, 0.5)

    &-arrows 
      top: 264px
  
    
  // .services-slider__wrapper 
  //   margin-top: 30px

  // .services-arrows 
  //   width: 100%
  //   margin-left: 0



@media(max-width: 767px)
  .main .button 
    margin-top: 36px

  .main-caption
    margin-left: 0px
    margin-top: 30px
    max-width: unset

  .main-title
    font-size: 30px

  .cta 
    padding-bottom: 60px
    margin-top: 0px

  section.about
    padding-top: 0 
    padding-bottom: 40px

  .about-descr 
    margin-top: 20px
  .about-title_right 
    margin-bottom: 20px

  .about-logos
    justify-content: space-around
    margin-top: 25px
    height: fit-content
    &__half
      &-img 
        margin-bottom: 34px

  // .services 
  //   &-slider 
  //     &__item 
  //       margin: 0 7px
  //     .slick 
  //       &-list.draggable
  //             padding: 0px 25px !important

  //       &-slide 
  //         padding: 20px 0px
  //       &-active 
  //         padding: 0px 0px
  //         max-width: 600px

  // .services-info__list 
  //   margin-top: 40px

  section.toget 
    padding-bottom: 40px

  .toget-item
    margin-bottom: 35px

  .toget-subtitle 
    margin-bottom: 50px

  .calculations .section-caption 
    bottom: -40px
    right: -60px

  .cta-bottom .cta-item__text 
    min-height: unset


  .digits-title 
    padding-right: 15px

  .digits-item 
    width: 100%
    text-align: center
    padding-left: 0
    margin-bottom: 30px

  .digits-item__descr 
    margin-top: 15px

  .team-slider 
    margin-top: 40px
    margin-left: 0
    .slick-list.draggable 
      padding: 0px 0px !important
    &__item
      max-width: unset
      margin: 0 5px
      .slider-descr
        text-align: center
   
      &.slick-active 
        padding: 0px 0px


  .recommends-arrows
    display: none

  .recommends-slider 
    margin-top: 0px
    left: 5px

  .recommends-slider__wrapper 
    margin-top: 0px

  .recommends-slider__item 
    margin: 0
    max-width: unset

  .recommends-slider .slick-list.draggable 
    padding: unset !important

  .recommends-slider__item .slider-photo img 
    width: 100%
    height: auto

  .results-arrows 
    display: none

  .results-slider__wrapper 
    margin-top: 30px

  section.services 
    padding: 0px 0px

  section.examples 
    padding:  0px

  section.recommends
    padding-bottom: 0

  .services

    &-slider 
      &__item 
        height: 600px
      &__wrapper
        height: 600px 

    &-arrows 
      display: none
      
    &-content
      left: unset
      top: unset
      position: relative
      margin-bottom: 50px

      &__info-list 
        margin-top: 30px


    .section-title
      font-size: 35px


  .examples
    &-arrows 
      display: none
    &-content
      left: unset
      top: unset
      position: relative
      margin-bottom: 50px

    .section-title
      font-size: 35px

    .section-descr 
      margin-top: 30px

    &-slider 
      &__item 
        height: 600px
      &__wrapper
        height: 600px 

  .cta-bottom
    margin-top: 220px


    

  .footer-logo 
    text-align: center

  
  .footer-descr 
    margin-top: 40px
    justify-content: center
    max-width: unset

  .footer-socials 
    justify-content: center
    margin-top: 30px

  .footer-info .phone, .footer-info .email 
    justify-content: center
    padding: 0px 10px

  .footer hr 
    margin-top: 30px
    margin-bottom: 30px

  .footer-policy
    margin-top: 15px

  .footer-copy, .footer-rekv
    display: block
    margin: 0 auto
    text-align: center
    margin-bottom: 15px

  .footer-info 
    margin-top: 40px
    text-align: center 
    justify-content: center
    
    .email 
      margin-left: 0px


  section.results
    padding: 70px 0px 120px 0px


  






@media(max-width: 575px)
  .main .button 
    padding-left: 25px
    padding-right: 25px

  .slider-arrows 
    width: 100%
    background: none
    text-align: center
    height: fit-content
    width: fit-content
    margin: 0 auto
    margin-top: 40px
  .slider-arrows__left 
    width: 100%
    left: unset
    top: unset 
    position: relative
    margin-top: 50px
  .slider-arrows__right
    width: 150px 
    right: unset
    top: unset 
    position: relative
    
  // .slider-arrows__left 
  //   left: 20px
  // .slider-arrows__right
  //   top: 40px
  //   right: 20px 
  .services-arrows 
    // display: flex
    // flex-direction: column 
    // align-items: center 
    // justify-content: space-between

  .calculations-title 
    margin-bottom: 0px

  .calculations .section-caption
    bottom: 0
    right: 0

  .calculations-form 
    margin-top: 33px


  .logos-item 
    width: 100%
    img 
      padding: 0px 70px

    
  .cta-bottom 
    margin-top: 60px

  section.results
    padding: 70px 0px 210px 0px

  section.team 
    padding: 70px 0px 120px 0px

  section.services 
    padding: 20px 0px 0px 0px

  section.examples 
    padding: 0px 0px 0px 0px


  
  .results-slider__info-extras .extra-item__text 
    font-size: 30px

  .results-slider__item .slider-photo
    max-height: 350px

  .results-slider__wrapper 
    height: 600px
    margin-top: 0

  .services-content, .examples-content 
    padding: 35px 20px
    margin-bottom: 0
    .section-title 
      padding-bottom: 15px
      font-size: 28px
      line-height: 36px

    .section-descr
      margin-top: 15px

  .services-slider__top, .examples-slider__top 
    .col-12 
      padding: 0
  
