// @media(max-width: 1549px)
  
   

// @media(max-width: 1399px)
  

// @media(max-width: 1299px)
  

@media(max-width: 1199px)
  .header-menu ul li 
    margin-right: 16px
  

  .cta-item__descr-btn 
    margin-top: 40px

  .calculations-title 
    margin-bottom: 20px

  .results-slider__info-extras 
    margin-top: 40px



  

@media(max-width: 1099px)
  .about 
    padding-top: 0px

  .digits-item 
    width: 49.6%
    margin-bottom: 20px


  
@media(max-width: 991px) 
  .toget-item
    margin-bottom: 40px
    &__descr-text
      margin-top: 15px

    &__icon 
      margin-right: 30px

  .calculations-form 
    margin-top: 53px

  .calculations-form__check
    margin-top: 40px

  .calculations-form__button 
    margin-top: 40px

  .digits-items 
    margin-top: 60px

  .team-slider 
    margin-top: 60px

  .logos-items 
    margin-top: 50px

  .logos-item 
    width: 49.5%

  .recommends-slider 
    margin-top: 60px

  .cta-bottom 
    margin-top: 80px

  .cta-bottom .cta-item__text 
    min-height: 100px

  .cta-bottom .cta-btn 
    margin-top: 50px

  .cta-bottom .cta-item__descr 
    justify-content: center

  .cta-bottom .cta-item__text
    text-align: center

    



  


@media(max-width: 767px)
  .main .button 
    margin-top: 36px

  .cta 
    padding-bottom: 60px
    margin-top: -100px

  section.about
    padding-top: 0 
    padding-bottom: 40px

  .about-descr 
    margin-top: 20px
  .about-title_right 
    margin-bottom: 20px

  .about-logos
    justify-content: space-around

  .services-info__list 
    margin-top: 40px

  section.toget 
    padding-bottom: 40px

  .toget-item
    margin-bottom: 35px

  .toget-subtitle 
    margin-bottom: 50px

  .calculations .section-caption 
    bottom: -40px
    right: -60px

  .cta-bottom .cta-item__text 
    min-height: unset


  .digits-title 
    padding-right: 15px

  .digits-item 
    width: 100%
    text-align: center
    padding-left: 0
    margin-bottom: 30px

  .digits-item__descr 
    margin-top: 15px

  .team-slider 
    margin-top: 40px

  .footer-descr 
    margin-top: 40px

  .footer-socials 
    justify-content: center
    margin-top: 30px

  .footer-info .phone, .footer-info .email 
    justify-content: center

  .footer hr 
    margin-top: 30px
    margin-bottom: 30px

  .footer-policy
    margin-top: 15px

  


  


@media(max-width: 575px)
  .calculations-title 
    margin-bottom: 0px

  .calculations-form 
    margin-top: 33px

  
