@media(max-width: 1599px)
  .services-slider 
    width: 125%

  .services-slider__item 
    margin: 0 10px

  .team-slider
    min-width: 123%

  .results-slider 
    width: 133%
    left: -33%

  .results-slider__info-extras 
    margin-top: 120px

  .recommends-slider 
    min-width: 120%

@media(max-width: 1499px)
  .services-slider 
    width: 120%

  .team-slider
    min-width: 115%

  .results-slider 
    width: 133%
    left: -33%


  .recommends-slider 
    min-width: 117%

@media(max-width: 1399px)
  .services-slider 
    width: 110%

  .team-slider
    min-width: 107%

  .results-slider 
    width: 115%
    left: -15%

  .results-slider__item 

    margin: 0 10px


  .recommends-slider 
    min-width: 107%



@media(max-width: 1299px)
  .services-slider 
    width: 110%
    &__item
      max-width: 570px

  .services-arrows
    width: 500px

  .team-slider
    min-width: 100%
    left: 0%
    position: relative
    left: unset
    &__wrapper 
      margin-top: 70px

  .team-arrows 
    position: relative
    top: unset
    left: unset
    width: 100%
    height: 3px

  .results-slider 
    width: 113%
    left: -60px

  .results-slider__item 
    height: 350px

  .recommends-slider
    min-width: 100%
    left: 0%
    position: relative
    left: unset
    &__wrapper 
      margin-top: 70px

  .recommends-arrows 
    position: relative
    top: unset
    left: unset
    width: 100%
    height: 3px
    margin-top: 30px

  .recommends-slider 
    min-width: 100%

  

  .services-arrows 

    left: 0px

  .cta-bottom
    margin-top: 0px



  

@media(max-width: 1199px)

  .services-slider 
    //width: 105%


  .header-menu ul li 
    margin-right: 16px
  

  .cta-item__descr-btn 
    margin-top: 40px

  .calculations-title 
    margin-bottom: 20px

  .results-slider 
    width: 100%
    top: unset
    left: unset
    position: relative

  .results-arrows 
    position: relative
    top: unset
    left: unset
    margin-top: 40px
    margin-left: 10px
    width: 100%

  .results-slider__info-extras 
    margin-top: 40px

  .results .slick-list.draggable 
    padding: 0 50px 0px 0px !important



  

@media(max-width: 1099px)
  .about 
    padding-top: 0px

  .digits-item 
    width: 49.6%
    margin-bottom: 40px
    padding-left: 0


  .services-slider 
    width: 100%
    top: unset
    left: unset
    position: relative

  .services-arrows 
    position: relative
    top: unset
    left: unset
    margin-top: 40px
    margin-left: 10px


  .services .slick-list.draggable 
    padding: 0 50px 0px 0px !important


  
@media(max-width: 991px) 
  section.about 
    padding-top: 0

  .toget-item
    margin-bottom: 40px
    &__descr-text
      margin-top: 15px

    &__icon 
      margin-right: 30px

  .calculations-form 
    margin-top: 53px

  .calculations-form__check
    margin-top: 40px

  .calculations-form__button 
    margin-top: 40px

  .digits-items 
    margin-top: 60px
    padding-left: 0px 

  .team-slider 
    margin-top: 60px
    margin-left: -20px



  .team-slider .slick-list.draggable 
    height: 540px

  .logos-items 
    margin-top: 50px

  .logos-item 
    width: 49.5%
    img 
      padding: 0px 50px

    &:nth-child(7)
      padding: 0px 55px 0px 50px

    &:nth-child(9)
      padding: 0px 35px 0px 30px

  .recommends-slider 
    margin-top: 60px

  .cta-bottom 
    margin-top: 0px
    
    padding-top: 0 !important

  .cta-bottom .cta-item__text 
    min-height: 100px

  .cta-bottom .cta-btn 
    margin-top: 50px

  .cta-bottom .cta-item__descr 
    justify-content: center

  .cta-bottom .cta-item__text
    text-align: center

  .services-slider__wrapper 
    margin-top: 30px

  .services-arrows 
    width: 100%
    margin-left: 0

  



    



  


@media(max-width: 767px)
  .main .button 
    margin-top: 36px

  .cta 
    padding-bottom: 60px
    margin-top: -100px

  section.about
    padding-top: 0 
    padding-bottom: 40px

  .about-descr 
    margin-top: 20px
  .about-title_right 
    margin-bottom: 20px

  .about-logos
    justify-content: space-around

  .services-info__list 
    margin-top: 40px

  section.toget 
    padding-bottom: 40px

  .toget-item
    margin-bottom: 35px

  .toget-subtitle 
    margin-bottom: 50px

  .calculations .section-caption 
    bottom: -40px
    right: -60px

  .cta-bottom .cta-item__text 
    min-height: unset


  .digits-title 
    padding-right: 15px

  .digits-item 
    width: 100%
    text-align: center
    padding-left: 0
    margin-bottom: 30px

  .digits-item__descr 
    margin-top: 15px

  .team-slider 
    margin-top: 40px

  .footer-descr 
    margin-top: 40px

  .footer-socials 
    justify-content: center
    margin-top: 30px

  .footer-info .phone, .footer-info .email 
    justify-content: center

  .footer hr 
    margin-top: 30px
    margin-bottom: 30px

  .footer-policy
    margin-top: 15px

  


  


@media(max-width: 575px)
  .calculations-title 
    margin-bottom: 0px

  .calculations-form 
    margin-top: 33px


  .logos-item 
    width: 100%
    img 
      padding: 0px 70px

  
