
@media(max-width: 1199px)
  .header-logo img
    padding-top: 15px

@media(max-width: 1099px)
  section, section.main, section.cta, section.services, section.about, section.toget, 
  section.calculations, section.digits, section.team, section.logos, 
  section.results, section.recommends, section.cta-bottom 
    padding: 120px 0px
  

@media(max-width: 991px)
  section, section.main, section.cta, section.services, section.about, section.toget, 
  section.calculations, section.digits, section.team, section.logos, 
  section.results, section.recommends, section.cta-bottom 
    padding: 100px 0px

  .header-logo img
    padding-top: 5px
  

  

@media(max-width: 767px)
  section, section.main, section.cta, section.services, section.about, section.toget, 
  section.calculations, section.digits, section.team, section.logos, 
  section.results, section.recommends, section.cta-bottom 
    padding: 70px 0px

  .section
    &-title
      font-size: 35px
      span 
        &.blue
          
          font-size: 30px
          

        &.slush
          font-size: 30px
         


  .header 
    padding: 14px 0

  .header-phone__text
    margin-left: 10px

  .header-logo img
    padding-top: 10px
  

@media(max-width: 575px)
  .header

  .header-phone__icon-wrapper
    display: none

  .header-logo img
    padding-top: 3px
    
  section 
    padding: 60px 0px
    .section-title
      padding-bottom: 30px
      font-size: 24px
      line-height: 30px
      span 
        &.blue
          
          font-size: 20px
          

        &.slush
          font-size: 20px
  

@media(max-width: 480px)

  .header-logo img
    padding-top: 0

// @media(max-width: 399px)

//   .top-logo 
    //display: none
    

  
  