

.recommends 

  padding: 200px 0px 100px 0px

  position: relative
  


  
  &-title 
    

  &-subtitle 

  
  &-slider
    position: absolute
    min-width: 1355px
    width: 100%
    &__wrapper 
      position: relative
      height: 600px
      margin-top: 90px
      margin-left: -15px
    &__item
      
      //height: 400px
      width: 100%
      max-width: 394px
      margin: 0 20px
      &.slick 
        &-active 
          padding: 20px 0px
          img 
            //height: 430px !important
          &[data-slick-index="0"]
            //padding: 0px
            img 
              //height: 490px

                  

          &[tabindex="-1"]
            //width: 370px !important
            //margin-right: 0
      .slider
        //box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1)
        &-photo
          // border-radius: 5px       
          height: 100%
          border-radius: 2px
          width: 100%  
          box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1)
          img 
            width: 100%
            height: 400px

        &-title
          margin-top: 30px
          color: $text-black
          font-family: Montserrat, sans-serif
          font-size: 14px
          text-align: center
     
      &1
        padding: 0
        .slider-photo
          // width: 100%
          // height: 100%
          // background: url(../img/10/r-1.jpeg) center, no-repeat
          // background-size: cover
          img 
            //height: 430px !important
        
      &2
        .slider-photo
          // width: 100%
          // height: 100%
          // background: url(../img/10/r-2.jpeg) center, no-repeat
          // background-size: cover
      &3
        .slider-photo
          // width: 100%
          // height: 100%
          // background: url(../img/10/r-3.jpeg) center, no-repeat
          // background-size: cover
      &4
        .slider-photo
          // width: 100%
          // height: 100%
          // background: url(../img/10/r-4.jpeg) center, no-repeat
          // background-size: cover
      &5
        
        .slider-photo
          //width: 100%
          
          // background: url(../img/10/r-5.jpeg) center, no-repeat
          // background-size: cover


  &-arrows
    position: absolute
    top: 540px
    left: 20px
    width: 100%
    height: 3px
    background-color: #d5d5d5
    &__left, &__right 
      position: absolute
      width: 200px
      height: 7px
      background-size: contain
      top: -2px

    &__left 
      left: 0
      background: url(../img/7/a-left.png) left no-repeat
      
      

    &__right 
      right: 0
      background: url(../img/7/a-right.png) right no-repeat


