.services
  background: url(../img/gr-bg.jpg) center no-repeat
  background-size: cover
  padding: 174px 0px

  &-info
    &__list
      margin-top: 70px
      li 
        list-style-type: none
        margin-bottom: 20px
        display: flex 
        flex-direction: row
        img 
          width: 24px
          height: 20px
          margin-right: 19px
        span 
          color: $white
          font-family: Montserrat, san-serif
          font-size: 16px

  &-slider
    position: absolute
    width: 880px

    .slick 
      &-list.draggable
        padding: 0 50px 0px 0px !important

      &-slide 
        padding: 20px 0px
      &-active 
        padding: 0px 0px
        max-width: 600px
       

    &__wrapper 
      position: relative
    &__item
      
      height: 360px
      width: 100%
      
      margin: 0 20px
      .slider-photo
        // border-radius: 5px       
        height: 100%
        border-radius: 2px
        width: 100%  
        img 
          width: 100%
          height: 360px
     
      &1
        .slider-photo
          // width: 100%
          // height: 100%
          background: url(../img/3/s1.jpeg) center, no-repeat
          background-size: cover
        
      &2
        .slider-photo
          // width: 100%
          // height: 100%
          background: url(../img/3/s2.jpeg) center, no-repeat
          background-size: cover
      &3
        .slider-photo
          // width: 100%
          // height: 100%
          background: url(../img/3/s3.jpeg) center, no-repeat
          background-size: cover
      &4
        .slider-photo
          // width: 100%
          // height: 100%
          background: url(../img/3/s4.jpeg) center, no-repeat
          background-size: cover
      &5
        
        .slider-photo
          //width: 100%
          height: 252px
          background: url(../img/service-5.png) center, no-repeat
          background-size: cover


  &-arrows
    position: absolute
    top: 420px
    left: 20px
    width: 700px
    height: 3px
    background-color: #7b7b7b
    &__left, &__right 
      position: absolute
      width: 200px
      height: 7px
      background-size: contain
      top: -2px

    &__left 
      left: 0
      background: url(../img/3/a-left.png) left no-repeat
      
      

    &__right 
      right: 0
      background: url(../img/3/a-right.png) right no-repeat






/******************************** /


  