

.team
  background-color: $gray-bg
  

  padding: 170px 0px 170px 0px

  position: relative
  

  
  &-title 
    

  &-subtitle 

  &-slider 
    margin-top: 90px
    position: absolute

    &__wrapper 
      position: relative
      height: 550px
      
    &__item
      display: inline-block 
      width: 24.6%

      .slider
        &-photo 
          img 
            width: 100%
        &-descr
          &__name
            margin-top: 38px
            color: $blue
            font-family: Ubuntu, sans-serif
            font-size: 18px
            font-weight: bold

          &__work
            margin-top: 13px
            font-family: Montserrat, sans-serif
            font-size: 14px
            color: $text-black

    
  

