*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat-Regular', san-serif;
}

button.button, a.button {
  color: #4F4F57;
  font-family: Ubuntu, san-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #565DA4;
  border-radius: 2px;
  outline: none;
  padding: 27px 10px;
  background: transparent;
}

button.button span, a.button span {
  color: #565DA4;
  margin-top: 2px;
  display: block;
}

button.button.button_filled, a.button.button_filled {
  background-color: #565DA4;
  color: #ffffff;
}

input {
  outline: none;
}

.section-title {
  color: #ffffff;
  font-family: Ubuntu, san-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: left;
}

.section-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-title_black {
  color: #1C161C;
}

.section-title span.blue {
  color: #565DA4;
  font-weight: bold;
  font-size: 50px;
}

.section-title span.slush {
  font-size: 35px;
  color: #565DA4;
  margin-left: 15px;
}

.section-subtitle {
  color: #514B51;
  font-family: Ubuntu, san-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.section-subtitle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-subtitle__wrapper .caption {
  color: #4F4F57;
  font-size: 54px;
  font-family: Ubuntu, san-serif;
  font-weight: bold;
  margin-right: 23px;
}

.header {
  background-color: #ffffff;
  padding: 24px 0;
}

.header-left, .header-right, .header-logo, .header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-logo {
  width: 100%;
}

.header-logo img {
  width: 100%;
  padding-top: 5px;
}

.header-menu {
  padding-top: 15px;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu ul li {
  list-style-type: none;
  margin-right: 36px;
}

.header-menu ul li a {
  color: #000000;
  font-family: Montserrat, san-serif;
  font-size: 14px;
}

.header-phone {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-self: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phone__icon {
  width: 100%;
  height: 100%;
}

.header-phone__icon img {
  padding: 4px;
}

.header-phone__icon-wrapper {
  border-radius: 50%;
  width: 53px;
  height: 53px;
  position: relative;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.header-phone__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 17px;
}

.header-phone__text a.header-phone__text-title {
  color: #565DA4;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header-phone__text-title {
  font-size: 18px;
}

.header-phone__text-subtitle {
  font-size: 12px;
}

.slick-list.draggable {
  padding: 0 50px 0px 0px !important;
}

.slick-slide {
  padding: 20px 0px;
}

.slick-active {
  padding: 0px 0px;
  max-width: 600px;
}

.main {
  background-color: #71706e;
  background: url(../img/1/main-bg.jpeg) center no-repeat;
  padding: 176px 0px 300px 0px;
  color: #ffffff;
  position: relative;
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(-3px 720px, 100% 100%, 100% -3px, 0px 0px);
}

.main-title {
  color: #ffffff;
  font-family: Ubuntu, san-serif;
  font-weight: bold;
  font-size: 38px;
  text-align: left;
  max-width: 700px;
  margin-bottom: 0;
}

.main-subtitle {
  font-family: Montserrat, san-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 0;
}

.main-descr {
  padding-top: 30px;
}

.main .button {
  margin-top: 56px;
  display: inline-block;
}

.cta {
  padding-bottom: 130px;
  margin-top: -160px;
}

.cta-item {
  background-color: #ffffff;
  padding: 50px 22px;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.cta-item__img {
  border-radius: 5px;
  width: 100%;
  height: 252px;
}

.cta-item__img img {
  width: 100%;
  height: 252px;
}

.cta-item__descr {
  text-align: left;
}

.cta-item__descr-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cta-item__descr-top-icon {
  display: inline-block;
  vertical-align: middle;
}

.cta-item__descr-top-title {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 0;
  color: #1C161C;
  font-size: 18px;
  font-family: Ubuntu, san-serif;
  font-weight: bold;
}

.cta-item__descr-text {
  margin-top: 35px;
  font-size: 13px;
  line-height: 28px;
  font-family: Montserrat, san-serif;
}

.cta-item__descr-btn {
  margin-top: 60px;
  width: 100%;
}

.cta-item1 .services-item__img {
  background: url(../img/service-1.jpeg) center, no-repeat;
  background-size: cover;
}

.cta-item2 .services-item__img {
  background: url(../img/service-2.png) center, no-repeat;
  background-size: cover;
}

.cta-item3 .services-item__img {
  background: url(../img/service-3.png) center, no-repeat;
  background-size: cover;
}

.cta-item4 .services-item__img {
  background: url(../img/service-4.png) center, no-repeat;
  background-size: cover;
}

.cta-item5 .services-item__img {
  height: 252px;
  background: url(../img/service-5.png) center, no-repeat;
  background-size: cover;
}

.cta-bottom {
  margin-top: 190px;
  padding-bottom: 200px;
}

.cta-bottom .cta-item {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.cta-bottom .cta-item__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-bottom .cta-item__descr-icon img {
  height: 40px;
}

.cta-bottom .cta-item__descr-title {
  color: #000000;
  font-family: Ubuntu, san-serif;
  font-size: 18px;
  margin-right: 33px;
  font-weight: bold;
}

.cta-bottom .cta-item__text {
  margin-top: 40px;
  color: #1C161C;
  font-family: Montserrat, san-serif;
  font-size: 14px;
  line-height: 28px;
  min-height: 120px;
}

.cta-bottom .cta-item__btn {
  margin-top: 30px;
  width: 100%;
}

.cta-bottom .cta-btn {
  margin: 0 auto;
  margin-top: 99px;
  display: inline-block;
}

.cta-bottom .cta-btn__wrapper {
  text-align: center;
}

.about {
  padding-bottom: 105px;
}

.about-title {
  color: #1C161C;
  font-family: Ubuntu, san-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.about-title_right {
  margin-bottom: 50px;
}

.about-subtitle {
  color: #1C161C;
  font-family: Ubuntu, san-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-top: 28px;
}

.about-logos {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-logos__half {
  text-align: center;
}

.about-logos__half-img {
  margin-bottom: 34px;
}

.about-logos__half-img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-descr {
  margin-top: 37px;
}

.about-descr p {
  margin-bottom: 26px;
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
  text-align: left;
  line-height: 32px;
}

.services {
  background: url(../img/gr-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 174px 0px;
}

.services-info__list {
  margin-top: 70px;
}

.services-info__list li {
  list-style-type: none;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services-info__list li img {
  width: 24px;
  height: 20px;
  margin-right: 19px;
}

.services-info__list li span {
  color: #ffffff;
  font-family: Montserrat, san-serif;
  font-size: 16px;
}

.services-slider {
  position: absolute;
  width: 880px;
}

.services-slider__wrapper {
  position: relative;
}

.services-slider__item {
  height: 360px;
  width: 100%;
  margin: 0 20px;
}

.services-slider__item .slider-photo {
  height: 100%;
  border-radius: 2px;
  width: 100%;
}

.services-slider__item .slider-photo img {
  width: 100%;
  height: 360px;
}

.services-slider__item1 .slider-photo {
  background: url(../img/3/s1.jpeg) center, no-repeat;
  background-size: cover;
}

.services-slider__item2 .slider-photo {
  background: url(../img/3/s2.jpeg) center, no-repeat;
  background-size: cover;
}

.services-slider__item3 .slider-photo {
  background: url(../img/3/s3.jpeg) center, no-repeat;
  background-size: cover;
}

.services-slider__item4 .slider-photo {
  background: url(../img/3/s4.jpeg) center, no-repeat;
  background-size: cover;
}

.services-slider__item5 .slider-photo {
  height: 252px;
  background: url(../img/service-5.png) center, no-repeat;
  background-size: cover;
}

.services-arrows {
  position: absolute;
  top: 420px;
  left: 20px;
  width: 700px;
  height: 3px;
  background-color: #7b7b7b;
}

.services-arrows__left, .services-arrows__right {
  position: absolute;
  width: 200px;
  height: 7px;
  background-size: contain;
  top: -2px;
}

.services-arrows__left {
  left: 0;
  background: url(../img/3/a-left.png) left no-repeat;
}

.services-arrows__right {
  right: 0;
  background: url(../img/3/a-right.png) right no-repeat;
}

/******************************** / */
.toget {
  padding: 190px 0px 120px 0px;
}

.toget-subtitle {
  margin-top: 17px;
}

.toget-item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 70px;
}

.toget-item__icon {
  margin-right: 35px;
}

.toget-item__icon img {
  width: 40px;
  height: auto;
}

.toget-item__descr-title {
  color: #000000;
  font-family: Ubuntu, san-serif;
  font-size: 18px;
  font-weight: bold;
}

.toget-item__descr-text {
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 35px;
}

.toget-item1 .services-item__img {
  background: url(../img/service-1.jpeg) center, no-repeat;
  background-size: cover;
}

.toget-item2 .services-item__img {
  background: url(../img/service-2.png) center, no-repeat;
  background-size: cover;
}

.toget-item3 .services-item__img {
  background: url(../img/service-3.png) center, no-repeat;
  background-size: cover;
}

.toget-item4 .services-item__img {
  background: url(../img/service-4.png) center, no-repeat;
  background-size: cover;
}

.toget-item5 .services-item__img {
  height: 252px;
  background: url(../img/service-5.png) center, no-repeat;
  background-size: cover;
}

.calculations {
  padding: 170px 0px;
  background-color: #dcdcdc;
}

.calculations .section-subtitle {
  font-size: 18px;
  line-height: 26px;
}

.calculations .section-caption {
  position: absolute;
  bottom: -60px;
  right: 0;
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}

.calculations-title {
  position: relative;
  padding-right: 10px;
}

.calculations-form {
  margin-top: 153px;
}

.calculations-form__select {
  margin-right: 20px;
  width: 100%;
  position: relative;
}

.calculations-form__select label {
  width: 100%;
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
}

.calculations-form__square-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculations-form__square label {
  color: #1C161C;
  font-family: Montserrat, san-serif;
  font-size: 14px;
  width: 100%;
}

.calculations-form__square input {
  width: 100%;
  margin-top: 30px;
  background-color: #e5e5e5;
}

.calculations-form__square-output {
  color: #1C161C;
  font-family: Ubuntu, san-serif;
  font-size: 14px;
  font-weight: bold;
}

.calculations-form__square input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  display: block;
  outline: 0;
}

.calculations-form__square input[type="range"]:focus {
  outline: 0;
}

.calculations-form__square input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: .2s;
  background: #565DA4;
}

.calculations-form__square input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 5px 29px 0 #dcdcdc;
  box-shadow: 0 5px 29px 0 #dcdcdc;
  height: 67px;
  width: 67px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -30px;
  background: url(../img/cl.png) center no-repeat;
  background-size: contain;
}

.calculations-form__square input[type="range"]::-webkit-slider-thumb::before {
  height: 21px;
  width: 21px;
  background-color: #000000;
}

.calculations-form__square input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: .2s;
  box-shadow: 1px 1px 1px #000,0px 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: .2px solid #010101;
}

.calculations-form__square input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000,0px 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

.calculations-form__square input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: .2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.calculations-form__square input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: .2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000,0px 0 1px #0d0d0d;
}

.calculations-form__square input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: .2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000,0px 0 1px #0d0d0d;
}

.calculations-form__square input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000,0px 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

.calculations-form__square input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

.calculations-form__square input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.calculations-form__footer {
  margin-top: 70px;
}

.calculations-form__check {
  margin-top: 80px;
  padding-left: 0;
}

.calculations-form__check label {
  color: #514B51;
  font-size: 14px;
  font-family: Montserrat, san-serif;
  display: block;
  position: relative;
  padding-left: 55px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calculations-form__check label:hover input ~ .checkmark {
  background-color: #ccc;
}

.calculations-form__check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.calculations-form__check input:checked ~ .checkmark:after {
  display: block;
}

.calculations-form__check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  background-color: #eee;
}

.calculations-form__check .checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  width: 16px;
  height: 8px;
  border: solid #565DA4;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.calculations-form__button {
  width: 100%;
  margin-top: 60px;
}

.calculations-form__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.calculations .custom-select {
  position: absolute;
  border: 0;
  background-color: transparent;
  width: 100%;
  padding-left: 0;
  top: 20px;
  left: 0px;
  background: none;
}

.calculations .custom-select select {
  display: none;
  -webkit-appearance: none;
}

.calculations .select {
  background-color: #ffffff;
  padding: 27px 123px 27px 39px;
}

.calculations .select label {
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
}

.calculations .select-selected {
  background-color: transparent;
  padding-left: 39px;
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
}

.calculations .select-selected:after {
  position: absolute;
  content: "";
  top: 3px;
  right: 50px;
  width: 30px;
  height: 30px;
  background: #ffffff url(../img/arrow-bottom.png) no-repeat center;
}

.calculations .select-items {
  position: absolute;
  background-color: #ffffff;
  top: 40px;
  left: 0;
  z-index: 99;
  width: 100%;
  margin-top: 7px;
}

.calculations .select-items div {
  padding-left: 39px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  color: #514B51;
  font-family: Montserrat, san-serif;
  font-size: 14px;
}

.calculations .select-items div:hover {
  background-color: #565DA4;
  color: #ffffff;
}

.calculations .select-items:first-child {
  height: 102%;
  color: black;
}

.calculations .select-hide {
  display: none;
}

.digits {
  padding: 200px 0px;
}

.digits-subtitle {
  font-size: 18px;
}

.digits-item {
  width: 24.6%;
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
}

.digits-item:first-child {
  padding-left: 0;
}

.digits-items {
  margin-top: 90px;
}

.digits-item__icon img {
  height: 34px;
}

.digits-item__number {
  margin-top: 40px;
  color: #565DA4;
  font-family: Ubuntu, san-serif;
  font-size: 54px;
  font-weight: bold;
  line-height: 54px;
}

.digits-item__descr {
  margin-top: 30px;
  color: #514B51;
  font-family: Ubuntu, san-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}

.team {
  background-color: #dcdcdc;
  padding: 170px 0px 170px 0px;
  position: relative;
}

.team-slider {
  position: absolute;
  min-width: 1355px;
  width: 100%;
}

.team-slider .slick-list.draggable {
  height: 600px;
}

.team-slider__wrapper {
  position: relative;
  height: 600px;
  margin-top: 90px;
}

.team-slider__item {
  height: 400px;
  width: 100%;
  max-width: 394px;
  margin: 0 20px;
}

.team-slider__item.slick-active {
  padding: 20px 0px;
}

.team-slider__item.slick-active img {
  height: auto;
}

.team-slider__item .slider-photo {
  height: 100%;
  border-radius: 2px;
  width: 100%;
  position: relative;
}

.team-slider__item .slider-photo a {
  font-family: Ubuntu, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 66%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 17%;
  opacity: 0;
}

.team-slider__item .slider-photo:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #565DA4;
  opacity: .7;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-color: #ffffff;
}

.team-slider__item .slider-photo:hover a {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.team-slider__item .slider-photo img {
  width: 100%;
  height: auto;
}

.team-slider__item .slider-descr__name {
  margin-top: 38px;
  color: #565DA4;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.team-slider__item .slider-descr__work {
  margin-top: 13px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #514B51;
}

.team-slider__item1 {
  padding: 0;
}

.team-slider__item1 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/7/t1.png) center, no-repeat;
  background-size: cover;
}

.team-slider__item2 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/7/t2.png) center, no-repeat;
  background-size: cover;
}

.team-slider__item3 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/7/t3.png) center, no-repeat;
  background-size: cover;
}

.team-slider__item4 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/7/t4.png) center, no-repeat;
  background-size: cover;
}

.team-arrows {
  position: absolute;
  top: 620px;
  left: 450px;
  width: 700px;
  height: 3px;
  background-color: #d5d5d5;
}

.team-arrows__left, .team-arrows__right {
  position: absolute;
  width: 200px;
  height: 7px;
  background-size: contain;
  top: -2px;
}

.team-arrows__left {
  left: 0;
  background: url(../img/7/a-left.png) left no-repeat;
}

.team-arrows__right {
  right: 0;
  background: url(../img/7/a-right.png) right no-repeat;
}

.logos {
  padding: 200px 0px 200px 0px;
}

.logos-item {
  width: 19.5%;
  margin-bottom: 35px;
  display: inline-block;
}

.logos-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
  padding: 0px 28px;
}

.logos-items {
  margin-top: 100px;
}

.logos-item:nth-child(7) {
  padding: 0px 35px 0px 30px;
}

.logos-item:nth-child(9) {
  padding: 0px 15px 0px 10px;
}

.results {
  background-color: #71706e;
  background: url(../img/gr-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 132px 0px 262px 0px;
}

.results-title {
  color: #ffffff;
}

.results-slider__info {
  margin-top: 70px;
}

.results-slider__info-title {
  color: #ffffff;
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.results-slider__info-pars {
  margin-top: 40px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.results-slider__info-pars p {
  margin-bottom: 10px;
}

.results-slider__info-extras {
  margin-top: 150px;
}

.results-slider__info-extras .extra-item {
  display: inline-block;
  width: 49%;
}

.results-slider__info-extras .extra-item__title {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.results-slider__info-extras .extra-item__text {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
}

.results .slick-list.draggable {
  padding: 0 0px 0px 240px !important;
}

.results-slider {
  position: absolute;
  width: 880px;
  left: -240px;
  top: 0;
}

.results-slider__wrapper {
  position: relative;
  margin-top: 70px;
}

.results-slider__item {
  height: 400px;
  width: 100%;
  margin: 0 20px;
}

.results-slider__item .slider-photo {
  height: 100%;
  border-radius: 2px;
  width: 100%;
}

.results-slider__item .slider-photo img {
  width: 100%;
  height: auto;
}

.results-slider__item1 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-1.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item2 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-2.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item3 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-3.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item4 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-4.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item5 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-5.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item6 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-6.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item7 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-7.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item8 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-8.png) center, no-repeat;
  background-size: cover;
}

.results-slider__item9 .slider-photo {
  width: 100%;
  height: 100%;
  background: url(../img/9/r-9.png) center, no-repeat;
  background-size: cover;
}

.results-arrows {
  position: absolute;
  top: 460px;
  left: 20px;
  width: 600px;
  height: 3px;
  background-color: #7b7b7b;
}

.results-arrows__left, .results-arrows__right {
  position: absolute;
  width: 200px;
  height: 7px;
  background-size: contain;
  top: -2px;
}

.results-arrows__left {
  left: 0;
  background: url(../img/3/a-left.png) left no-repeat;
}

.results-arrows__right {
  right: 0;
  background: url(../img/3/a-right.png) right no-repeat;
}

.recommends {
  padding: 200px 0px 100px 0px;
  position: relative;
}

.recommends-slider {
  position: absolute;
  min-width: 1355px;
  width: 100%;
}

.recommends-slider__wrapper {
  position: relative;
  height: 600px;
  margin-top: 90px;
  margin-left: -15px;
}

.recommends-slider__item {
  width: 100%;
  max-width: 394px;
  margin: 0 20px;
}

.recommends-slider__item.slick-active {
  padding: 20px 0px;
}

.recommends-slider__item .slider-photo {
  height: 100%;
  border-radius: 2px;
  width: 100%;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.recommends-slider__item .slider-photo img {
  width: 100%;
  height: 400px;
}

.recommends-slider__item .slider-title {
  margin-top: 30px;
  color: #514B51;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-align: center;
}

.recommends-slider__item1 {
  padding: 0;
}

.recommends-arrows {
  position: absolute;
  top: 540px;
  left: 20px;
  width: 100%;
  height: 3px;
  background-color: #d5d5d5;
}

.recommends-arrows__left, .recommends-arrows__right {
  position: absolute;
  width: 200px;
  height: 7px;
  background-size: contain;
  top: -2px;
}

.recommends-arrows__left {
  left: 0;
  background: url(../img/7/a-left.png) left no-repeat;
}

.recommends-arrows__right {
  right: 0;
  background: url(../img/7/a-right.png) right no-repeat;
}

.footer {
  background-color: #71706e;
  background: url(../img/gr-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 90px 0px 40px 0px;
}

.footer-logo img {
  width: 100%;
  max-width: 400px;
}

.footer-descr {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 400px;
}

.footer-descr__img {
  margin-right: 18px;
}

.footer-descr__img img {
  width: 21px;
}

.footer-descr__text {
  color: #ffffff;
  font-family: Ubuntu, san-serif;
  font-size: 18px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-socials__item {
  margin-left: 20px;
  width: 41px;
  height: 41px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}

.footer-socials__item img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 21px;
}

.footer-info {
  margin-top: 45px;
  text-align: right;
}

.footer-info .phone a {
  font-family: Ubuntu, san-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.footer-info .email a {
  font-family: Ubuntu, san-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-info .phone, .footer-info .email {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-info .phone-icon, .footer-info .email-icon {
  margin-right: 16px;
}

.footer-info .phone-icon img, .footer-info .email-icon img {
  width: 18px;
  height: 18px;
}

.footer hr {
  border-color: #c1c1c1;
  height: 1px;
  margin-top: 65px;
  margin-bottom: 40px;
}

.footer-copy, .footer-rekv, .footer-policy {
  color: #AAAAAA;
  font-family: Ubuntu, san-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-copy a, .footer-rekv a, .footer-policy a {
  color: #AAAAAA;
  font-family: Ubuntu, san-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-copy {
  margin-right: 52px;
}

.footer-rekv {
  text-decoration: underline;
}

.footer-policy {
  text-decoration: underline;
}

@media (min-width: 768px) {
  button.button:hover, a.button:hover {
    outline: none;
    background-color: #565DA4;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
  }
  button.button:hover span, a.button:hover span {
    color: #ffffff;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  button.button.button_filled:hover, a.button.button_filled:hover {
    cursor: pointer;
    background-color: #636ab1;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .slider-arrow__right:hover, .slider-arrow__left:hover, .slider-arrows__right:hover, .slider-arrows__left:hover {
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .slider-arrow__right::before, .slider-arrows__right::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
  }
  .slider-arrow__right:hover::before, .slider-arrows__right:hover::before {
    background-color: #565DA4;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .slider-arrow__left::before, .slider-arrows__left::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
  }
  .slider-arrow__left:hover::before, .slider-arrows__left:hover::before {
    background-color: #565DA4;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .slider-arrow__left:hover::after, .slider-arrows__left:hover::after {
    color: #565DA4;
  }
}

@media (max-width: 1199px) {
  .header-logo img {
    padding-top: 15px;
  }
}

@media (max-width: 1099px) {
  section, section.main, section.cta, section.services, section.about, section.toget,
  section.calculations, section.digits, section.team, section.logos,
  section.results, section.recommends, section.cta-bottom {
    padding: 120px 0px;
  }
}

@media (max-width: 991px) {
  section, section.main, section.cta, section.services, section.about, section.toget,
  section.calculations, section.digits, section.team, section.logos,
  section.results, section.recommends, section.cta-bottom {
    padding: 100px 0px;
  }
  .header-logo img {
    padding-top: 5px;
  }
}

@media (max-width: 767px) {
  section, section.main, section.cta, section.services, section.about, section.toget,
  section.calculations, section.digits, section.team, section.logos,
  section.results, section.recommends, section.cta-bottom {
    padding: 70px 0px;
  }
  .section-title {
    font-size: 35px;
  }
  .section-title span.blue {
    font-size: 30px;
  }
  .section-title span.slush {
    font-size: 30px;
  }
  .header {
    padding: 14px 0;
  }
  .header-phone__text {
    margin-left: 10px;
  }
  .header-logo img {
    padding-top: 10px;
  }
}

@media (max-width: 575px) {
  .header-phone__icon-wrapper {
    display: none;
  }
  .header-logo img {
    padding-top: 3px;
  }
  section {
    padding: 60px 0px;
  }
  section .section-title {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  section .section-title span.blue {
    font-size: 20px;
  }
  section .section-title span.slush {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .header-logo img {
    padding-top: 0;
  }
}

@media (max-width: 1599px) {
  .services-slider {
    width: 125%;
  }
  .services-slider__item {
    margin: 0 10px;
  }
  .team-slider {
    min-width: 123%;
  }
  .results-slider {
    width: 133%;
    left: -33%;
  }
  .results-slider__info-extras {
    margin-top: 120px;
  }
  .recommends-slider {
    min-width: 120%;
  }
}

@media (max-width: 1499px) {
  .services-slider {
    width: 120%;
  }
  .team-slider {
    min-width: 115%;
  }
  .results-slider {
    width: 133%;
    left: -33%;
  }
  .recommends-slider {
    min-width: 117%;
  }
}

@media (max-width: 1399px) {
  .services-slider {
    width: 110%;
  }
  .team-slider {
    min-width: 107%;
  }
  .results-slider {
    width: 115%;
    left: -15%;
  }
  .results-slider__item {
    margin: 0 10px;
  }
  .recommends-slider {
    min-width: 107%;
  }
}

@media (max-width: 1299px) {
  .services-slider {
    width: 110%;
  }
  .services-slider__item {
    max-width: 570px;
  }
  .services-arrows {
    width: 500px;
  }
  .team-slider {
    min-width: 100%;
    left: 0%;
    position: relative;
    left: unset;
  }
  .team-slider__wrapper {
    margin-top: 70px;
  }
  .team-arrows {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: 3px;
  }
  .results-slider {
    width: 113%;
    left: -60px;
  }
  .results-slider__item {
    height: 350px;
  }
  .recommends-slider {
    min-width: 100%;
    left: 0%;
    position: relative;
    left: unset;
  }
  .recommends-slider__wrapper {
    margin-top: 70px;
  }
  .recommends-arrows {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: 3px;
    margin-top: 30px;
  }
  .recommends-slider {
    min-width: 100%;
  }
  .services-arrows {
    left: 0px;
  }
  .cta-bottom {
    margin-top: 0px;
  }
}

@media (max-width: 1199px) {
  .header-menu ul li {
    margin-right: 16px;
  }
  .cta-item__descr-btn {
    margin-top: 40px;
  }
  .calculations-title {
    margin-bottom: 20px;
  }
  .results-slider {
    width: 100%;
    top: unset;
    left: unset;
    position: relative;
  }
  .results-arrows {
    position: relative;
    top: unset;
    left: unset;
    margin-top: 40px;
    margin-left: 10px;
    width: 100%;
  }
  .results-slider__info-extras {
    margin-top: 40px;
  }
  .results .slick-list.draggable {
    padding: 0 50px 0px 0px !important;
  }
}

@media (max-width: 1099px) {
  .about {
    padding-top: 0px;
  }
  .digits-item {
    width: 49.6%;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .services-slider {
    width: 100%;
    top: unset;
    left: unset;
    position: relative;
  }
  .services-arrows {
    position: relative;
    top: unset;
    left: unset;
    margin-top: 40px;
    margin-left: 10px;
  }
  .services .slick-list.draggable {
    padding: 0 50px 0px 0px !important;
  }
}

@media (max-width: 991px) {
  section.about {
    padding-top: 0;
  }
  .toget-item {
    margin-bottom: 40px;
  }
  .toget-item__descr-text {
    margin-top: 15px;
  }
  .toget-item__icon {
    margin-right: 30px;
  }
  .calculations-form {
    margin-top: 53px;
  }
  .calculations-form__check {
    margin-top: 40px;
  }
  .calculations-form__button {
    margin-top: 40px;
  }
  .digits-items {
    margin-top: 60px;
    padding-left: 0px;
  }
  .team-slider {
    margin-top: 60px;
    margin-left: -20px;
  }
  .team-slider .slick-list.draggable {
    height: 540px;
  }
  .logos-items {
    margin-top: 50px;
  }
  .logos-item {
    width: 49.5%;
  }
  .logos-item img {
    padding: 0px 50px;
  }
  .logos-item:nth-child(7) {
    padding: 0px 55px 0px 50px;
  }
  .logos-item:nth-child(9) {
    padding: 0px 35px 0px 30px;
  }
  .recommends-slider {
    margin-top: 60px;
  }
  .cta-bottom {
    margin-top: 0px;
    padding-top: 0 !important;
  }
  .cta-bottom .cta-item__text {
    min-height: 100px;
  }
  .cta-bottom .cta-btn {
    margin-top: 50px;
  }
  .cta-bottom .cta-item__descr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cta-bottom .cta-item__text {
    text-align: center;
  }
  .services-slider__wrapper {
    margin-top: 30px;
  }
  .services-arrows {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .main .button {
    margin-top: 36px;
  }
  .cta {
    padding-bottom: 60px;
    margin-top: -100px;
  }
  section.about {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .about-descr {
    margin-top: 20px;
  }
  .about-title_right {
    margin-bottom: 20px;
  }
  .about-logos {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-info__list {
    margin-top: 40px;
  }
  section.toget {
    padding-bottom: 40px;
  }
  .toget-item {
    margin-bottom: 35px;
  }
  .toget-subtitle {
    margin-bottom: 50px;
  }
  .calculations .section-caption {
    bottom: -40px;
    right: -60px;
  }
  .cta-bottom .cta-item__text {
    min-height: unset;
  }
  .digits-title {
    padding-right: 15px;
  }
  .digits-item {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .digits-item__descr {
    margin-top: 15px;
  }
  .team-slider {
    margin-top: 40px;
  }
  .footer-descr {
    margin-top: 40px;
  }
  .footer-socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .footer-info .phone, .footer-info .email {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer-policy {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .calculations-title {
    margin-bottom: 0px;
  }
  .calculations-form {
    margin-top: 33px;
  }
  .logos-item {
    width: 100%;
  }
  .logos-item img {
    padding: 0px 70px;
  }
}
/*# sourceMappingURL=styles.css.map */