@font-face {
  font-family: 'Montserrat-Black';
  src: url('Montserrat-Black.otf');
  src: url('/fonts/Montserrat-Black.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Montserrat-Black.woff') format('../fonts/woff'),
  url('/fonts/Montserrat-Black.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.otf');
  src: url('/fonts/Montserrat-Bold.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Montserrat-Bold.woff') format('../fonts/woff'),
  url('/fonts/Montserrat-Bold.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('Montserrat-ExtraBold.otf');
  src: url('/fonts/Montserrat-ExtraBold.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Montserrat-ExtraBold.woff') format('../fonts/woff'),
  url('/fonts/Montserrat-ExtraBold.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.otf');
  src: url('/fonts/Montserrat-Regular.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Montserrat-Regular.woff') format('../fonts/woff'),
  url('/fonts/Montserrat-Regular.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('Montserrat-SemiBold.otf');
  src: url('/fonts/Montserrat-SemiBold.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Montserrat-SemiBold.woff') format('../fonts/woff'),
  url('/fonts/Montserrat-SemiBold.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.otf');
  src: url('/fonts/Ubuntu-Bold.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Ubuntu-Bold.woff') format('../fonts/woff'),
  url('/fonts/Ubuntu-Bold.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.otf');
  src: url('/fonts/Ubuntu-Medium.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Ubuntu-Medium.woff') format('../fonts/woff'),
  url('/fonts/Ubuntu-Medium.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('Ubuntu-Regular.otf');
  src: url('/fonts/Ubuntu-Regular.eot?#iefix') format('../fonts/embedded-opentype'),
  url('/fonts/Ubuntu-Regular.woff') format('../fonts/woff'),
  url('/fonts/Ubuntu-Regular.ttf') format('../fonts/truetype');
  font-weight: normal;
  font-style: normal;
}




